:root {
    --darkgray: #1e2025;
    --brightred: #F9423D;
    --lightred: #f9433dcc;
    --lightblue: #337AF1;
}

.header{
    background-color: #212329;
    height: 100vh;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 80vh;
}

.header-img{
    width: 35%;
}

.header-img img{
    width: 100%;
    height:100%;
    margin-bottom: -60px;
    margin-left: -40px;
}

.header-main{
    color:#fff;
    width: 35%;
}

.header-title{
    font-size:2.3rem;
    letter-spacing: 1px;
}
.header-p{
    margin-top: 1.2rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 600;  
}

.header-btn{
    font-size: 1.1rem;
    background-color: var(--brightred);
    padding:10px 30px;
    font-weight: 600;
    border:none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    transition: all .35s;
    outline: none;
}

.header-btn:hover{ 
    background-color: var(--lightblue);
    transition: all .5s ease; 
}
@media screen and (max-width:768px){
    .header-img{
        display: none;
    }
    .header-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .header-main{
        color:#fff;
        width: 70%;
    }
    .header-title{
        font-size:2.5rem;
        letter-spacing: 1px;
    }
    .header-p{
        margin-top: 1.2rem;
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-weight: 600;  
    }
}
